/*
- - - Color Palette - - -
Primary color:
    shade 0 = #0E1E73
    shade 1 = #35469E
    shade 2 = #1B2C8B
    shade 3 = #08155B
    shade 4 = #030C3D

Secondary color (1):
    shade 0 = #400871
    shade 1 = #692E9C
    shade 2 = #521388
    shade 3 = #32045A
    shade 4 = #21023C

Secondary color (2):
    shade 0 = #006D54
    shade 1 = #24957C
    shade 2 = #0A8368
    shade 3 = #005643
    shade 4 = #003A2D
*/

@import url("https://fonts.googleapis.com/css?family=Mina");

/* Estilos Generales */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #21023C;
    color: #c7c7c7;
    font-family: 'Mina', sans-serif;
}

a {
    color: currentColor;
    text-decoration: none;
}

.header {
    background-color: rgba(1, 82, 63, 0.8);
    width: 100%;
}

/* Barra de Navegación Móvil */
.nav-bar {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 10vh;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: .5em 1em;
    position: relative;
    overflow: hidden;
    width: 100%;
}

    .nav-bar-item {
        cursor: pointer;
        color: #FFF;
        font-size: 2em;
    }

    .nav-bar-item:hover {
        color: #b7b7b7;
    }

/* Menú de navegación */
.navigator {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: -100%;
    padding: 0 2em 1em 2em;
    position: absolute;
    overflow: hidden;
    width: 100%;
}

.navigator [class^="icon-"] {
    margin: auto 0.5em;
}

    .menu-item {
        border-bottom: 1px solid currentColor;
        color: #FFF;
        padding: .5em 1em;
        text-align: center;
        width: 100%;
    }

    .menu-item:hover {
        background-color: #24957C;
}

    /* Barra de Búsqueda */
    .search_section {
        background-color: #005643;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            height: 100%;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-pack: stretch;
                -ms-flex-pack: stretch;
                    justify-content: stretch;
            position: absolute;
            top: 0;
            right: -100%;
            width: 100%;
    }

        .search_bar {
            background-color: inherit;
            border: none;
            color: white;
            height: inherit;
            padding: 0 0.5em;
            width: 50%;
        }

        .search_buttons {
            -ms-flex-line-pack: center;
                align-content: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            height: inherit;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            padding: 0.5em 0.2em;
            width: 40%;
        }

        .search_send {
            background-color: inherit;
            border: 2px solid #24957C;
            border-radius: 15px 15px 15px 15px;
            color: white;
            font-size: 0.7em;
            width: 40%;
        }

        .search_send:hover {
            background-color: #24957C;
        }

        .search_cancel {
            -ms-flex-item-align: center;
                align-self: center;
            color: rgb(233, 52, 121);
            cursor: pointer;
            font-size: 2em;
        }

/* Special CSS for the Fixed Nav */
.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Footer */
footer {
    background-color: #01523f;
    bottom: 0;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    left: 0;
    padding: 0.2em 1em;
    position: static;
}

    footer a {
        color: inherit;
        text-decoration: none;
    }

    footer a:hover {
        color: #b7b7b7;
    }

    .opciones {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        padding: 1em;
    }

    .copyright {
        color: #b7b7b7;
        font-size: 0.6em;
        text-align: center;
    }

    .redes_sociales {
        border-bottom: 1px solid white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        padding: 1em;
    }

        /* Special CSS for the Discord img */
        .discord {
            -webkit-filter: brightness(0) invert(1);
                    filter: brightness(0) invert(1);
        }

        .discord:hover {
            -webkit-filter: grayscale(100%);
                    filter: grayscale(100%);
        }

/* Snippets */

/* Image Stuff */
.img-iteration {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
}

/* Improtant Links */
.important-link {
    border-bottom: 1px solid #24957C;
}

/* Tablets Portrait/Landscape */
@media only screen 
and (min-device-width : 767px) 
and (max-device-width : 1024px)
{

    /* Navegador Móvil */
    .nav-bar {
        display: none;
    }


    /* Navegador */
    .navigator {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        left: initial;
        padding: 0;
        position: relative;
    }

    .menu-item {
        border: none;
    }

    /* Barra de Búsqueda */
    #navigator .search_section {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 0 2em;
    }
    
    #navigator .search_buttons {
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    #navigator .search_send {
        width: 20%;
    }

    /* Footer */
    .opciones {
        -ms-flex-item-align: center;
            align-self: center;
        border-bottom: 1px solid white;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 0.5em 0;
    }

        .opciones a {
            padding: 0 1em;
        }

    .redes_sociales {
        -ms-flex-item-align: center;
            align-self: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

        .redes_sociales a {
            padding: 0 1em;
        }


    .copyright {
        padding: 1.2em 0;
        width: 100%;
    }  
    
    /* Snippets */

    /* Title Style */
    .title {
        display: inline-block;
        font-weight: 300;
        position: relative;
    }
    
    .title::after, .title::before {
        background-color: currentColor;
        content: ' ';
        height: .05em;
        position: absolute;
        top: .6em;
        width: 1.7em;
    }
    
    .title::before {left: calc(-1.7em + -.3em);}
    .title::after {right: calc(-1.7em + -.3em);}
}


/* Desktop */
@media only screen 
and (min-width : 1224px) {
    
    /* Navegador Móvil */
    .nav-bar {
        display: none;
    }

    /* Navegador */
    .navigator {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        left: initial;
        padding: 0;
        position: relative;
    }

    .menu-item {
        border: none;
    }

    /* Barra de Búsqueda */
    #navigator .search_section {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 0 2em;
    }
    
    #navigator .search_buttons {
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    #navigator .search_send {
        width: 20%;
    }

    /* Footer */
    .opciones {
        -ms-flex-item-align: center;
            align-self: center;
        border-bottom: 1px solid white;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 0.5em 0;
    }

        .opciones a {
            padding: 0 1em;
        }

    .redes_sociales {
        -ms-flex-item-align: center;
            align-self: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

        .redes_sociales a {
            padding: 0 1em;
        }


    .copyright {
        padding: 1.2em 0;
        width: 100%;
    }

    /* Snippets */
    
    /* Title Style */
    .title {
        display: inline-block;
        font-weight: 300;
        position: relative;
    }
    
    .title::after, .title::before {
        background-color: currentColor;
        content: ' ';
        height: .05em;
        position: absolute;
        top: .6em;
        width: 1.7em;
    }
    
    .title::before {left: calc(-1.7em + -.3em);}
    .title::after {right: calc(-1.7em + -.3em);}
}