/* Front Image */
.img-iteration.front-img {
    background-color: rgba(33, 2, 6, 0.5);
    background-image: url("/static/images/front-image.jpg");
    background-position: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

    .img-iteration.front-img .front-text {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: inherit;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
    }

        .front-text p {
            font-size: 4vh;
            text-align: center;
            width: 100%;
        }

/* Main */
main {
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

main section {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 12vh 1em 1em 1em;
}

    main section h2 {
        color: #FFF;
        font-size: 1.2em;
        text-align: center;
    }

    /* Presentaci贸n */
    .presentacion .svg {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

        .svg p {
            text-align: start;
        }

        .svg svg, .svg h3, .svg p {
            margin: 1vh 0;
        }

        .presentacion .svg h3 {
            border-bottom: 1px solid #FFF;
            font-size: 1.1em;
        }

/* SVG Styles */
.code, .line {
    stroke-width: 6;
}

.code.orange, .line.orange {
    stroke: rgb(230, 150, 30);
}

.code.darkcyan, .line.darkcyan {
    stroke: rgb(10, 138, 138);
}

.code.white, .line.white {
    stroke: rgb(199, 199, 199);
}

.code.black, .line.black {
    stroke: rgb(26, 26, 26);
}

/* Principios */
.principios {
    padding: 12vh 0 1em 0;
}

.principios ul {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.3);
    counter-reset: principios;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: none;
    margin: 1em 0;
    padding: 1em;
}

    .principios li {
        border-bottom: 1px solid #35469E;
        padding: 1em 0;
    }

    .principios li:last-child {
        border-bottom: none;
    }

    .principios h3 {
        color: #FFF;
        font-size: 1em;
    }

    .principios h3::before {
        counter-increment: principios;
        color: #24957C;
        content: counter(principios) ". "
    }

.trabajos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

    .trabajos ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

        .trabajos ul li {
            -ms-flex-line-pack: center;
                align-content: center;
            background: linear-gradient(340deg, transparent 10%, #32045A 10%, #32045A 90%, transparent 10%);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            list-style: none;
            list-style-position: inside;
            margin: 1em 0;
            padding: 1em 0;
        }
        
            .trabajos ul li div {
                padding: 1em 2em;
            }

            .trabajos ul li h3 {
                color: #d3d1d1;
                display: inline-block;
                font-size: 1em;
                margin-bottom: 1em;
            }

            .trabajos ul li figure {
                -ms-flex-item-align: end;
                    align-self: flex-end;
                margin: .5em 1em 0 0;
                max-width: 250px;
                width: 40vw; 
            }

            
            .trabajos ul li figure img {
                border: 1px solid #24957C;
                width: 100%;
            }

.contacto p {
    text-align: center;
}

.contacto div {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-top: 5vh;
}
            
@media only screen 
and (min-device-width : 767px) 
and (max-device-width : 1024px)
and (orientation : portrait)
{
    /* Presentaci贸n y SVG */
    .presentacion {
        -webkit-box-align: space-between;
            -ms-flex-align: space-between;
                align-items: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: stretch;
            -ms-flex-pack: stretch;
                justify-content: stretch;
        padding: 5vh 1em 1em 1vh;
    }

        .presentacion h2 {
            padding: 1em 0;
            width: 100%;
        }

        .presentacion .svg {
            background-color: #32045A;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
            margin: 1em 0;
            padding: 1em 2em;
        }

        /* Principios */
        .principios {
            padding: 5vh 1em 1em 1vh;
        }

        /* Proyectos */
        .trabajos ul {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: space-evenly;
                -ms-flex-pack: space-evenly;
                    justify-content: space-evenly;
        }

        .trabajos ul li {
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            background: linear-gradient(340deg, transparent 7%, #32045A 7%, #32045A 93%, transparent 7%);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            width: 40%;
        }

        .trabajos ul li figure {
            -ms-flex-item-align: center;
                align-self: center;
        }

        .trabajos ul li:nth-child(even) {
            background: linear-gradient(20deg, transparent 7%, #32045A 7%, #32045A 93%, transparent 7%);
        }

        .trabajos ul li div {
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            padding: 1em;
        }
        
        .trabajos ul li p {
            text-align: left;
        }
        
        .trabajos ul li:nth-child(even) p {
            text-align: right;
        }

        .trabajos ul li figure {
            max-height: 150px;
            max-width: 150px;
        }
}

/* Tablets Landscape */
@media only screen 
and (min-device-width : 767px) 
and (max-device-width : 1024px)
and (orientation : landscape)
{
    /* Presentaci贸n y SVG */
    .presentacion {
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        padding: 5vh 1em 1em 1vh;
    }

        .presentacion h2 {
            padding: 1em 0;
            width: 100%;
        }

        .presentacion .svg {
            background-color: #32045A;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
            padding: 1em 2em;
            width: 45%;
        }

    /* Principios */    
    .principios {
        width: 100%;
    }
    
    .principios ul {
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

        .principios li {
            border-bottom: none;
            padding: 0 1em;
            margin: 1em 0;
            width: 50%;
        }

        .principios li:nth-child(odd) {
            border-right: 1px solid #35469E;
        }

    .trabajos ul {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }

    .trabajos ul li {
        background: linear-gradient(340deg, transparent 15%, #32045A 15%, #32045A 85%, transparent 15%);
        width: 40%;
    }

    .trabajos ul li:nth-child(even) {
        background: linear-gradient(20deg, transparent 15%, #32045A 15%, #32045A 85%, transparent 15%);
    }

    .trabajos ul li:nth-child(even) div {
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
    .trabajos ul li p {
        text-align: left;
    }
    
    .trabajos ul li:nth-child(even) p {
        text-align: right;
    }

    .trabajos ul li figure {
        max-height: 150px;
        max-width: 150px;
    }

    .trabajos ul li:nth-child(even) figure {
        -ms-flex-item-align: start;
            align-self: flex-start;
        margin: .5em 0 0 1em;
    }
    
}

@media only screen 
and (min-width : 1224px)
{

    /* Presentaci贸n y SVG */
    .presentacion {
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        padding: 6vh 1em 1em 1vh;
    }

        .presentacion h2 {
            padding: 1em 0;
            width: 100%;
        }

        .presentacion .svg {
            background-color: #32045A;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
            padding: 1em 2em;
            width: 45%;
        }

    /* Principios */
    .principios {
        width: 100%;
    }
    
    .principios ul {
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

        .principios li {
            border-bottom: none;
            padding: 0 1em;
            margin: 1em 0;
            width: 50%;
        }

        .principios li:nth-child(odd) {
            border-right: 1px solid #35469E;
        }

    /* Proyectos */
    .trabajos ul {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }

    .trabajos ul li {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background: linear-gradient(340deg, transparent 7%, #32045A 7%, #32045A 93%, transparent 7%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 40%;
    }

    .trabajos ul li figure {
        -ms-flex-item-align: center;
            align-self: center;
    }

    .trabajos ul li:nth-child(even) {
        background: linear-gradient(20deg, transparent 7%, #32045A 7%, #32045A 93%, transparent 7%);
    }

    .trabajos ul li div {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 1em;
    }
    
    .trabajos ul li p {
        text-align: left;
    }
    
    .trabajos ul li:nth-child(even) p {
        text-align: right;
    }

    .trabajos ul li figure {
        max-height: 200px;
        max-width: 200px;
    }

}

/* Typing Animation */
.typing-animation {
    overflow: hidden;
    white-space: nowrap;
}

.typing-animation::after {
    content: "|";
    -webkit-animation: blink 0.9s infinite;
            animation: blink 0.9s infinite;
}

/* Keyframes */
@-webkit-keyframes blink {
    to{ opacity: 0; }
}

@keyframes blink {
    to{ opacity: 0; }
}