/**
 * Contenido Principal
 */
h2 {
    color: #FFF;
    font-size: 1.2em;
    text-align: center;
    width: 100%;
}

.main-content {
    background-color: inherit;
    color: #b7b7b7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2em 0;
}

.main-content p {
    padding: 1em 1em;
    text-align: start;
}

.main-content a {
    color: inherit;
    text-decoration: none;
}

.main-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.important-link {
    border-bottom: 1px solid #24957C;
}

/**
 * Cosas de las imágenes
 */
.img-iteration.front-img {
    background-image: url("../images/front-image.jpg");
    background-position: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 40em;
}

    .front-text {
        -ms-flex-item-align: center;
            align-self: center;
        background-color: rgba(33, 2, 6, 0.5);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
    }

    #sub-front-text {
        background-color: rgba(33, 2, 6, 0.5);
        font-size: 1em;
        text-shadow: 0 0 5px #21023C;
    }

    .img-iteration.front-img p {
        font-size: 2em;
        text-align: center;
        width: 100%;
    }

/**
* Codigo SVG
*/
.svg svg {
    display: none;
}

    .svg h3 {
        border-bottom: 1px solid #FFF;
        color: aliceblue;
        display: none;
        font-size: 1.1em;
        margin-bottom: 1em;
    }

.code, .line {
    stroke-width: 6;
}

.code.orange, .line.orange {
    stroke: rgb(230, 150, 30);
}

.code.darkcyan, .line.darkcyan {
    stroke: rgb(10, 138, 138);
}

.code.white, .line.white {
    stroke: rgb(199, 199, 199);
}

.code.black, .line.black {
    stroke: rgb(26, 26, 26);
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px)
and (orientation: landscape) {
    .img-iteration.front-img {
        height: 10em;
    }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

    .img-iteration.front-img {
        height: 40em;
    }

    .img-iteration.front-img p {
        font-size: 2.5em;
    }

    .main-content {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 2em 0.2em;
    }

    .main-content h2 {
        font-size: 1.5em;
    }

    .main-content p {
        padding: 1em 6em;
        text-align: center;
    }

    .main-text {
        -ms-flex-item-align: center;
            align-self: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    #sub-front-text {
        display: none;
    }

    /**
    * Codigo SVG
    */
    .svg {
        -ms-flex-item-align: center;
            align-self: center;
        background-color: #32045A; 
        display: -webkit-box; 
        display: -ms-flexbox; 
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin: 1em;
        padding: 1em;
    }

        .svg svg {
            display: initial;
        }

        .svg-text {
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            width: 75%;
        }

        .svg-text h3 {
            display: inline;
        }

        .svg-text p {
            -ms-flex-item-align: center;
                align-self: center;
            display: inline;
            padding: 0;
            text-align: start;
        }
    
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
    
    .img-iteration.front-img {
        height: 50em;
    }

    .img-iteration.front-img p {
        font-size: 2.5em;
    }

    .main-content {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 2em 0.2em;
    }

    .main-content h2 {
        font-size: 1.5em;
    }

    .main-content p {
        padding: 1em 6em;
        text-align: center;
    }

    .main-text {
        -ms-flex-item-align: center;
            align-self: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    #sub-front-text {
        display: none;
    }

    /**
    * Codigo SVG
    */
    .svg {
        -ms-flex-item-align: start;
            align-self: flex-start;
        background-color: #32045A; 
        display: -webkit-box; 
        display: -ms-flexbox; 
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 1em;
        padding: 1em 0;
    }

        .svg h3 {
            display: inline;
        }

        .svg svg {
            -ms-flex-item-align: center;
                align-self: center;
            display: initial;
        }

            .svg-text {
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                padding: 1em;
            }

                .svg-text h3 {
                    display: inline;
                }

                .svg-text p {
                    -ms-flex-item-align: center;
                        align-self: center;
                    display: inline;
                    padding: 0;
                    text-align: start;
                }

}