html {
  scroll-behavior: smooth;
}

.typing-animation {
  overflow: hidden;
  white-space: nowrap;

  animation:
    typing $typing-seconds steps($typing-steps, end);
}

.typing-animation::after {
  content: "|";
  animation: cursor-blink .75s infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes cursor-blink {
  to { opacity: 0 }
}
