// Documento general
// Se pone todo como 'border-box'
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: $font-size-root;
}

html {
  scroll-behavior: smooth;
}

// Body
body {
  margin: 0;
  background-color: $body-bg;
  color: $body-color;
  font-family: $font-family-sans-serif;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba($color: $black, $alpha: 0);
}

hr {
  background-color: currentColor;
  border: 0;
  color: $hr-color;
  margin: $hr-margin-y $spacer;
  opacity: $hr-opacity;
}

hr:not([size]) {
  height: $hr-height;
}

// Párrafos
p {
  margin-top: 0;
  margin-bottom: $paragraph-margin-bottom;
}

@each $key, $utility in $utilities {
  @include generate-utility($utility, "");
}

.presentation-header {
  background-image: url("/static/media/img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  #presentation-text-container {
    background-color: rgba($black, .2) !important;
    color: $white;
    font-size: $font-size-lg * 2;
  }
}

// Links
a {
  color: $link-color;
  text-decoration: $link-decoration;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
