// Documento general
// Se pone todo como 'border-box'
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Body
body {
  margin: 0;
  background-color: $body-bg;
  color: $body-color;
}

// Párrafos
p {
  margin-top: 0;
  margin-bottom: $paragraph-margin-bottom;
}

@each $key, $utility in $utilities {
  @include generate-utility($utility, "");
}
