// Utilities
// Sistema para generar de manera dinámica todas la clases que deriven de múltiples variables.

$utilities: () !default;

$utilities: map-merge(
  (
    "background-color": (
      property: background-color,
      class: bg,
      values:
        map-merge(
          $theme-colors,
          (
            "body": $body-bg,
            "white": $white,
            "black": $black,
            "transparent": transparent,
          )
        ),
    ),
    "color": (
      property: color,
      class: text,
      values:
        map-merge(
          $theme-colors,
          (
            "white": $white,
            "body": $body-color,
            "reset": inherit,
          )
        ),
    ),
    "font-weight": (
      property: font-weight,
      values: $font-weights
    ),
    "text-decoration": (
      property: text-decoration,
      class: text,
      values: $text-decorations
    ),
    "text-align": (
      responsive: true,
      property: text-align,
      class: text,
      values: $text-aligns
    ),
    "display": (
      responsive: true,
      print: true,
      property: display,
      class: d,
      values: $displays,
    ),
    "margin": (
      responsive: true,
      property: margin,
      class: m,
      values: $spacers
    ),
    "margin-y": (
      responsive: true,
      property: margin-top margin-bottom,
      class: my,
      values: $spacers
    ),
    "margin-x": (
      responsive: true,
      property: margin-left margin-right,
      class: mx,
      values: $spacers
    ),
    "padding": (
      responsive: true,
      property: padding,
      class: p,
      values: $spacers
    ),
    "padding-y": (
      responsive: true,
      property: padding-top padding-bottom,
      class: py,
      values: $spacers
    ),
    "padding-x": (
      responsive: true,
      property: padding-left padding-right,
      class: px,
      values: $spacers
    ),
    "border": (
      responsive: true,
      property: border,
      class: border,
      values: $theme-colors
    ),
    "height": (
      property: height,
      class: h,
      values: $heights,
    ),
    "width": (
      property: width,
      class: w,
      values: $widths,
    ),
    "flex-direction": (
      responsive: true,
      property: flex-direction,
      class: flex,
      values: $flex-directions,
    ),
    "align-content": (
      responsive: true,
      property: align-content,
      values: $align-contents,
    ),
    "align-items": (
      responsive: true,
      property: align-items,
      values: $align-items,
    ),
    "align-self": (
      responsive: true,
      property: align-self,
      values: $align-selfs,
    ),
    "justify-content": (
      responsive: true,
      property: justify-content,
      values: $justify-contents,
    ),
    "svg-stroke-color": (
      responsive: true,
      class: stroke-color,
      property: stroke,
      values: map-merge(
        $theme-colors,
        (
          "black": $black,
          "darkcyan": darkcyan,
          "orange": orange,
          "white": $white
        )
      )
    ),
    "svg-stroke-width": (
      responsive: true,
      class: stroke-width,
      property: stroke-width,
      values: $stroke-widths
    )
  ),
  $utilities
);
