// Colores básicos
$white: #fff !default;
$black: #000 !default;

// Paleta de colores
$colors: () !default;

$thistle: #e9e0d9 !default;
$rosy-brown: #d0b9b0 !default;
$dark-slate-gray: #3d3944 !default;
$dim-gray: #806464 !default;
$gray: #988d8f !default;

$colors: map-merge(
    (
        "thistle": $thistle,
        "rosy-brown": $rosy-brown,
        "dark-slate-gray": $dark-slate-gray,
        "dim-gray": $dim-gray,
        "gray": $gray
    ),
    $colors
);

$theme-colors: () !default;

$primary: $rosy-brown;
$secondary: $gray;
$light: $thistle;
$dark: $dark-slate-gray;
$extra: $dim-gray;
$theme-colors: map-merge(
    (
        "primary": $rosy-brown,
        "secondary": $gray,
        "light": $thistle,
        "dark": $dark-slate-gray,
        "extra": $dim-gray,
    ),
    $theme-colors
);

// Configuración del <body></body>
$body-bg: $white !default;
$body-color: $black !default;

// Puntos de Ruptura (Mobile)
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Links
$link-color: $primary;
$link-decoration: $extra;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

// Párrafos
$paragraph-margin-bottom: 1rem !default;

// Tamaños
$heights: () !default;
@for $h from 1 to 101 {
  $heights: map-merge(
    (
      $h + "-vh": #{$h} + "vh",
      $h + "-pcnt": #{$h} + "%"
    ),
    $heights
  )
}

$widths: () !default;
@for $w from 1 to 101 {
  $widths: map-merge(
    (
      $w + "-vw": #{$w} + "vw",
      $w + "-pcnt": #{$w} + "%"
    ),
    $widths
  )
}
