@import "../../bootstrap/scss/variables";

$sm: map-get(
  $map: $container-max-widths,
  $key: "sm",
);
$md: map-get(
  $map: $container-max-widths,
  $key: "md",
);
$lg: map-get(
  $map: $container-max-widths,
  $key: "lg",
);
$xl: map-get(
  $map: $container-max-widths,
  $key: "xl",
);
$xxl: map-get(
  $map: $container-max-widths,
  $key: "xxl",
);

.masterhead {
  background-image: url("../../img/LogoFullWhite.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw;
  min-height: 100vh;
}

@media (min-width: $sm) {
  .masterhead {
    background-size: contain;
  }
}

@media (min-width: $md) {
  .masterhead {
    min-height: 50vh;
  }
}
