$seal-brown: #452111ff;
$pale-silver: #d9cbc7ff;
$liver-dogs: #b36837ff;

$primary: $liver-dogs;
$secondary: $seal-brown;
$light: $pale-silver;

$body-bg: $light;

@import '~bootstrap/scss/variables.scss';
