// #0f7173, #a64253, #221e22, #dc9e82, #d7ebba
$color-1: #0f7173;
$color-2: #a64253;
$color-3: #221e22;
$color-4: #dc9e82;
$color-5: #d7ebba;

$body-bg: $color-5;

@import '~bootstrap/scss/variables.scss';
