.main {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 3vh 3vw;
}

.main article {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 3vh;
    max-height: 40vh;
    padding: 2vh 2vw;
}

.main article h3 {
    border-bottom: 1px solid #fff;
    color: #fff;
    margin-bottom: 2vh;
    text-align: center;
}

.main article p {
    text-align: start;
}

.poemas {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.poemas .separator {
    -ms-flex-item-align: stretch;
        align-self: stretch;
    background-color: #35469E;
    width: 1px;
}

.poemas h4 {
    color: #fff;
}

.main article footer {
    -ms-flex-item-align: end;
        align-self: flex-end;
    background-color: transparent;
    cursor: pointer;
    font-size: 0.9em;
    padding: 0.1em;
}

/* Tablets Portrait */
@media only screen 
and (min-device-width : 767px) 
and (max-device-width : 1024px)
and (orientation : portrait)
{

}

/* Tablets Landscape */
@media only screen 
and (min-device-width : 767px) 
and (max-device-width : 1024px)
and (orientation : landscape)
{

}

/* Dispositivos de mayor resolución */
@media only screen 
and (min-width : 1224px)
{
    .main {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}